* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --twiter-blue: #1da1f2;
}
body {
  color: #0f1419;
  -webkit-font-smoothing: initialiased;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

button {
  cursor: pointer;
}
a {
  color: inherit;
}

/* pages Timeline */

.App {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.content {
  border-left: 1px solid #ebeef0;
  border-right: 1px solid #ebeef0;
}

.new-tweet-form {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new-tweet-form label {
  display: flex;

  gap: 0.75rem;
}
.new-tweet-form label img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.new-tweet-form label textarea {
  flex: 1;
  border: 0;
  font-size: 1.25rem;
  font-weight: 500;
  resize: none;
  margin-top: 0.75rem;
}
.new-tweet-form label textarea:focus {
  outline: none;
}

.new-tweet-form label textarea::placeholder {
  color: #5b7083;
}

.new-tweet-form button {
  margin-left: auto;
  background: var(--twiter-blue);
  border-radius: 999px;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 900;
  border: 0;
}
.new-tweet-form button:hover {
  filter: brightness(0.9);
}
.answer-tweet-form {
  padding: 1.5rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid #ebeef0;
}

.answer-tweet-form label {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.answer-tweet-form label img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.answer-tweet-form label textarea {
  flex: 1;
  border: 0;
  font-size: 1.25rem;
  font-weight: 500;
  resize: none;
  margin-top: 1.25rem;
}
.answer-tweet-form label textarea:focus {
  outline: none;
}

.answer-tweet-form label textarea::placeholder {
  color: #5b7083;
}

.answer-tweet-form button {
  margin-left: auto;
  background: var(--twiter-blue);
  border-radius: 999px;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 900;
  border: 0;
}
.answer-tweet-form button:hover {
  filter: brightness(0.9);
}
